<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'schools' class="navbar-brand"}}GradPlus{{/link-to}}
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    {{outlet}}
  </div>
</div>
