@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Cinzel);

body { padding-top: 70px; }
li > a.active {
  background-color: #eee;
}
li > a:hover {
  color: black;
}
li > a {
  color: black;
}
img {
  max-width: 100%;
}

footer {
  padding-top: 50px;
}

.glyphicon-plus {
  color: green;
}

#brand {
  font-family: 'Cinzel', serif;
  color: white;
  letter-spacing: 2px;
}
