@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 70px; }
li > a.active {
  background-color: #eee;
}
li > a:hover {
  color: black;
}
li > a {
  color: black;
}
img {
  max-width: 100%;
}

footer {
  padding-top: 50px;
}
